{{#if user}}
<h1>Welcome {{user.username}}</h1>
{{/if}}

<ul>
{{#each posts}}
<li>
  <p>
    <a href="/posts/{{id}}">{{content}}</a>
  </p>
</li>
{{else}}
no post yet, <a href="/posts/new">Create a new one</a>
{{/each}}
</ul>